  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Sala De Juegos</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li><a class="nav-link" href="./QuienSoy#quien">Quien</a></li>
          <li><a class="nav-link" href="/QuienSoy#que">Ques es</a></li>
          <li><a class="nav-link" href="/QuienSoy#donde">Donde</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- First Container -->
  <div id ="quiwn"class="container-fluid bg-1 text-center">
    <h3 class="margin">Quién Soy?</h3>
    <img src="./assets/imagenes/quiensoy.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3>Soy Un alumno de la UTN FRA</h3>
  </div>
  
  <!-- Second Container -->
  <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Preguntas y respuestas</h3>
    <p>Juego de preguntas y respuestas en el cual se muestra una pregunta y tres respuestas posibles, 
      son 5 preguntas y se suman puntos por cada pregunta bien contestada
  </div>
  
  <!-- Third Container (Grid) -->
  <div id ="donde" class="container-fluid bg-3 text-center">    
    <h3 class="margin">Dónde Funciona?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
        <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>Modificado por Maximiliano vargas</p> 
  </footer>