<app-cabecera>  </app-cabecera>
<section class="jumbotron text-center">
  <div class="container">
    <h1>Sala de juegos</h1>
  </div>
</section>
<div class="container" >
    <div class="row my-flex-card">
      <div class="col-md-3" >
        <div class="card mb-3 shadow-sm">
          <img src="./assets/imagenes/saladejuegos.png" height="225">
          <div class="card-body">
            <h5 class="card-title">Juegos</h5>
            <p class="card-text">Listado de juegos.</p>
            <div class="card-footer bg-transparent border-success">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-success" routerLink="/Juegos">Ir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3 shadow-sm">
          <img src="./assets/imagenes/listado.png" height="225">
          <div class="card-body">
            <h5 class="card-title">Listado de resultados</h5>
            <p class="card-text">listado de los resultados con ordenamiento y busqueda.</p>
            <div class="card-footer bg-transparent border-success">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-success" routerLink="/Listado">Ir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3 shadow-sm">
          <img src="./assets/imagenes/Configuracion.png" height="225">
          <div class="card-body">
            <h5 class="card-title">Configuracion</h5>
            <p class="card-text">Ajustes de aplicacion y los metodos de autentificacion.</p>
            <div class="card-footer bg-transparent border-success">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-success" routerLink="/Juegos">Ir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3 shadow-sm" >
          <img src="./assets/imagenes/jugadores.png" height="225">
          <div class="card-body" width="200px">
            <h5 class="card-title">Jugadores</h5>
            <p class="card-text">Listado de jugadores.</p>
            <div class="card-footer bg-transparent border-success">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-success" routerLink="/Jugadores">Ir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>