<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->
<div class="row justify-content-center">
<div class="col-4 align-self-center">
  <h1>agilidad aritetica</h1>
  <div>
    <h2 *ngIf="comenzar">{{numeroA}} {{operador}} {{numeroB}}</h2>
    <h2 *ngIf="comenzar">{{tiempo}}</h2>
    <h2 *ngIf="mostrarMensaje">{{mensaje}}</h2>
    
    
    <button *ngIf="!comenzar && !mostrarMensaje" type="button" class="btn btn-outline-success"  (click)="comenzarJuego()">comenzar</button>
    <div class="input-group mb-3">
      <input *ngIf="comenzar" type="number" placeholder="resultado" class="form-control"  [(ngModel)]="nuevoJuego.numeroIngresado">
      <div class="input-group-append">
        <button *ngIf="comenzar" type="button" class="btn btn-outline-success" (click)="verificar()">verificar</button>
      </div>
    </div>

  </div>
</div>
</div>