<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-success">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-brand" routerLink="/Principal" class="btn btn-success btn-sm">Inicio</button>
      </div>
    </div>
  </nav>
</div> 

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 align-self-center">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>usuario</th>
            <th>puntos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jugador of listado" >
            <td>{{jugador.correo}} </td>
            <td>{{jugador.points}} </td> 
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>
</div>