/* You can add global styles to this file, and also import other style files */
a:link, a:visited, a:active {
    text-decoration:none;
}

.my-flex-card > div > div.card { 
    height: calc(100% - 15px); 
    margin-bottom: 15px; 
} 