<div class="panel panel-default">
  <div class="hero-text">
      <h1 style="font-size:50px">Sala de Juegos</h1>
      <p>Octavio villegas</p>
      <a href="https://github.com/Shilua"target="_blank">en GitHub <i class="fa fa-github"></i></a>
      <a  routerLink="/QuienSoy" >Quien Soy? <i class="fa fa-user"></i></a>
  </div>
  <ul class="nav navbar-nav navbar-right">
          <li><button routerLink="/Registro"class="btn btn-secondary btn-sm">Registrarse</button></li>
          <li><button  routerLink="/Login"class="btn btn-secondary btn-sm"> Ingresar</button></li>
  </ul>
</div>
